<div class="form-wrap">
	<form ng-submit="register();" class="all-forms floats third" name="reg" id="register" novalidate>
		<div class="inner-form left">
			<div class="heading">
				<span>Register</span>
			</div>
			
			<p class="error" ng-show="userMessage">{{ userMessage }}</p>

			<p class="error validationerror" 
				ng-show="reg.user.$invalid && reg.user.$touched">
				Your email is required to register
			</p>
			
			<div class="form-row">
				<input type="email" name="user" class="text-input" placeholder="Email" 
				ng-model="newUser.user" ng-required="true">
			</div>
			
			<p class="error validationerror" 
				ng-show="reg.password.$invalid && reg.password.$touched">
				A password is required
			</p>
			
			<div class="form-row">
				<input type="password" name="password" class="text-input" placeholder="Password"
				ng-model="newUser.password" ng-required="true">
			</div>
			<div class="form-row button">
				<button type="submit" ng-disabled="myform.$invalid" id="reg-button" class="letMeIn">Register</button>
			</div>
		</div>
	</form>

	<div class="veritcal-break floats">
		<span class="label">or</span>
	</div>
	<form ng-submit="login();" class="all-forms floats third" name="log" id="login" novalidate>
		<div class="inner-form right">
			<div class="heading">
				<span>Login</span>
			</div>

			<p class="error" ng-show="noUser">{{ noUser }}</p>

			<p class="error validationerror" 
				ng-show="login.email.$invalid && login.email.$touched">
				Your email is required to register</p>
			<div class="form-row">
				<input type="email" name="email" class="text-input" placeholder="Email"
				ng-model="user.email" ng-required="true">
			</div>
			<p class="error validationerror" 
				ng-show="login.password.$invalid && login.password.$touched">
				A password is required</p>
			<div class="form-row">
				<input type="password" name="password" class="text-input" placeholder="Password"
				ng-model="user.pass" ng-required="true">
			</div>
			<div class="form-row button">
				<button id="log-button" class="letMeIn">Login</button>
			</div>
		</div>
	</form>
	<div class="cf"></div>
</div>